:root {
    --color-1 : gray;
    --bg-color : #fafafa;
    --text-color :red ;
}

html,body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 20px;
    text-decoration: underline;
    padding: 0 ;
    margin: 10px 0;
}

h2{
    font-size: 30px;
    color:rgb(70, 55, 55);
}

header{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    
}

nav a {
   margin: 0 10px;
}

.nav, .main{
    max-width: 1275px;
    margin: 0 auto;
   
}

.main {
    padding:0 20px;
    max-width: 1200px;
}

.sub-section{
color:var(--color-1)
}

#footer-p{
    text-align: center;
     color: var(--text-color);
}

